@-webkit-keyframes showPopup {
    0% {
        transform         : scale(0.7);
        -webkit-transform : scale(0.7);
    }
    45% {
        transform         : scale(1.05);
        -webkit-transform : scale(1.05);
    }
    80% {
        transform        : scale(0.95);
        -webkit-tranform : scale(0.95);
    }
    100% {
        transform         : scale(1);
        -webkit-transform : scale(1);
    }
}

@-moz-keyframes showPopup {
    0% {
        transform         : scale(0.7);
        -webkit-transform : scale(0.7);
    }
    45% {
        transform         : scale(1.05);
        -webkit-transform : scale(1.05);
    }
    80% {
        transform        : scale(0.95);
        -webkit-tranform : scale(0.95);
    }
    100% {
        transform         : scale(1);
        -webkit-transform : scale(1);
    }
}

@keyframes showPopup {
    0% {
        transform         : scale(0.7);
        -webkit-transform : scale(0.7);
    }
    45% {
        transform         : scale(1.05);
        -webkit-transform : scale(1.05);
    }
    80% {
        transform        : scale(0.95);
        -webkit-tranform : scale(0.95);
    }
    100% {
        transform         : scale(1);
        -webkit-transform : scale(1);
    }
}

@-webkit-keyframes hidePopup {
    0% {
        transform         : scale(1);
        -webkit-transform : scale(1);
    }
    100% {
        transform         : scale(0.5);
        -webkit-transform : scale(0.5);
    }
}

@-moz-keyframes hidePopup {
    0% {
        transform         : scale(1);
        -webkit-transform : scale(1);
    }
    100% {
        transform         : scale(0.5);
        -webkit-transform : scale(0.5);
    }
}

@keyframes hidePopup {
    0% {
        transform         : scale(1);
        -webkit-transform : scale(1);
    }
    100% {
        transform         : scale(0.5);
        -webkit-transform : scale(0.5);
    }
}

/*
 theme-color: #8E0E0E
 background: #CECECE
 */
#FancyDate-dialog.show {
    -webkit-animation : showPopup 0.3s;
    -moz-animation    : showPopup 0.3s;
    animation         : showPopup 0.3s;
}

#FancyDate-dialog.hide {
    -webkit-animation : hidePopup 0.3s;
    -moz-animation    : hidePopup 0.3s;
    animation         : hidePopup 0.3s;
}

#FancyDate-wrapper {
    position   : fixed;
    top        : 0;
    right      : 0;
    left       : 0;
    bottom     : 0;
    background : rgba(0, 0, 0, 0.6);
    z-index    : 2000
}

#FancyDate-dialog {
    display       : inline-block;
    margin        : 0 auto;
    background    : #FFF;
    padding       : 20px;
    box-shadow    : 5px 5px 9px -5px #000;
    border-radius : 15px;
    z-index       : 200;
}

#FancyDate-inner {
}

#FancyDate-input {
    position   : absolute;
    background : #FFF
}

#FancyDate-header {
    text-align              : center;
    background              : #F4F4F4;
    border-top-left-radius  : 15px;
    border-top-right-radius : 15px;
    border                  : 1px solid #CECECE
}

#FancyDate-header:after {
    content : '';
    clear   : both;
    display : block;
}

#FancyDate-previous {
    float                  : left;
    padding                : 10px 35px;
    cursor                 : pointer;
    border-top-left-radius : 15px;
}

#FancyDate-previous .FancyDate-arrow {
    width         : 0;
    height        : 0;
    border-top    : 10px solid transparent;
    border-bottom : 10px solid transparent;
    border-right  : 20px solid #8E0E0E;
    display       : block
}

#FancyDate-title {
    font-size   : 20px;
    float       : left;
    line-height : 40px;
    height      : 40px padding : 0 8 px;
}

#FancyDate-year {
    font-size   : 16px;
    margin-left : 10px
}

#FancyDate-next {
    float                   : right;
    padding                 : 10px 35px;
    cursor                  : pointer;
    border-top-right-radius : 15px;
}

#FancyDate-next .FancyDate-arrow {
    width         : 0;
    height        : 0;
    border-top    : 10px solid transparent;
    border-bottom : 10px solid transparent;
    border-left   : 20px solid #8E0E0E;
    display       : block
}

#FancyDate-calendar {
}

.FancyDate-row {
}

.FancyDate-row:after {
    content : '';
    clear   : both;
    display : block;
}

.FancyDate-day.FancyDate-active {
    position : relative;
}

.FancyDate-day.FancyDate-active:after {
    content  : "";
    border   : 1px solid #8E0E0E;
    position : absolute;
    top      : 0;
    right    : 0;
    bottom   : 0;
    left     : 0;
    display  : block;
}

.FancyDate-day {
    cursor      : pointer;
    float       : left;
    padding     : 10px 10px;
    text-align  : center;
    font-size   : 14px;
    border-top  : 1px solid #e1e1e1;
    border-left : 1px solid #e1e1e1;
    box-sizing  : initial;
}

.FancyDate-day-today {
    background : #8E0E0E;
    color      : #FFF
}

.FancyDate-day-extern {
    color : #CECECE
}

#FancyDate-row-1 .FancyDate-day {
    cursor : default
}

#FancyDate-footer {
    background                 : #F4F4F4;
    border-bottom-left-radius  : 15px;
    border-bottom-right-radius : 15px;
    border                     : 1px solid #CECECE
}

#FancyDate-footer:after {
    content : '';
    clear   : both;
    display : block;
}

#FancyDate-footer div {
    float      : left;
    width      : calc(100% / 3);
    text-align : center;
    cursor     : pointer;
    padding    : 10px 0
}

#FancyDate-close {
    border-bottom-left-radius : 15px
}

#FancyDate-clear {
    border-bottom-right-radius : 15px
}

.FancyDate-button {
    -webkit-transition : background 0.3s;
    transition         : background 0.3s
}

.FancyDate-button:hover {
    background : #CECECE;
    color      : #8E0E0E
}

#FancyDate-rowh:after {
    content : '';
    display : block;
    clear   : both;
    width   : 0;
    height  : 0;
}

.FancyDate-rowh {
    float        : left;
    padding      : 5px 5px 0 5px;
    font-variant : small-caps;
    font-size    : 14px;
    border-right : 1px solid transparent;
    box-sizing   : initial;
}

#FancyDate-title {
    position : relative;
    cursor   : pointer;
}

#FancyDate-title:hover #FancyDate-year-changer {
    display : block;
}

#FancyDate-year-changer {
    display    : none;
    position   : absolute;
    background : #F4F4F4;
    overflow-y : auto;
    height     : 200px;
    left       : 0;
    right      : -17px;
    font-size  : 16px;
}

#FancyDate-year-changer ul {
    padding : 0;
    margin  : 0;
}

#FancyDate-year-changer li {
    list-style  : none;
    line-height : 120%;
}