#FancyMenu-wrapper {
    margin                  : 0;
    padding                 : 0;
    z-index                 : 300;
    position                : absolute;
    border                  : 1px solid #CECECE;
    border-top-width        : 4px;
    border-top-left-radius  : 5px;
    border-top-right-radius : 5px;
    min-width               : 100px;
    background              : #FFF;
    box-shadow              : 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
}

#FancyMenu-inner {
    padding : 5px 0;
}

#FancyMenu-menu {
    margin  : 0;
    padding : 0;
}

.FancyMenu-menu-element {
    cursor      : pointer;
    list-style  : none;
    padding     : 5px;
    font-size   : 14px;
    line-height : 14px;
}

.FancyMenu-menu-element:after {
    content : '';
    display : block;
    clear   : both;
}

.FancyMenu-menu-element:hover {
    background : #2A2A2A;
    color      : #FFF;
}

.FancyMenu-menu-icon {
    width       : 15px;
    display     : block;
    float       : left;
    height      : 15px;
    line-height : 15px;
    padding     : 3px;
}

.FancyMenu-menu-text {
    display     : block;
    float       : left;
    height      : 15px;
    line-height : 15px;
    padding     : 3px;
}
