@-webkit-keyframes showPopup {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-tranform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); }
}

@-moz-keyframes showPopup {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-tranform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); }
}

@keyframes showPopup {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-tranform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); }
}

@-webkit-keyframes hidePopup {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); }
}

@-moz-keyframes hidePopup {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); }
}

@keyframes hidePopup {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); }
}

#FancyPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

#FancyPopup-close {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 16px;
    font-size: 20px;
    height: 16px;
    line-height: 13px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    font-weight: bold;
}

#FancyPopup-close:hover {
    border: 1px solid;
}
#FancyPopup-inner {
    position: absolute;
    padding: 0 50px 15px;
    background: #808080;
}
#FancyPopup-inner.show {
    -webkit-animation: showPopup 0.3s;
    -moz-animation: showPopup 0.3s;
    animation: showPopup 0.3s;
}

#FancyPopup-inner.hide {
    -webkit-animation: hidePopup 0.3s;
    -moz-animation: hidePopup 0.3s;
    animation: hidePopup 0.3s;
}

#FancyPopup-buttons {
    font-family: @font-family;
    margin-top: 20px;
}

.FancyPopup-button {
    border: medium none;
    box-shadow: 2px 2px #757578;
    cursor: pointer;
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 10px 0;
    transition: background-color 0.1s ease 0s;
    width: 250px;
    text-align: center;
}

.FancyPopup-button:hover {
    background-color: #fff;
}
#FancyPopup-title {
    padding: 20px 0 10px;
    text-align: center;
}
#FancyPopup-content {
    padding: 10px 0 0;
    text-align: center;
}
/**
 *
 * THEMES
 *
 */
 
 /**
  * @author Markus Ahrweiler
  * @name Blunt
  * @colours #E7A600, #808080
  */
.FancyPopup-theme-blunt #FancyPopup-inner {
    border-radius: 20px;
}
.FancyPopup-theme-blunt #FancyPopup-title {
    border-bottom: 2px solid #E7A600;
    border-radius: 20px;
}

.FancyPopup-theme-blunt #FancyPopup-close {
    transition: all 0.5s ease-in-out;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid;
    background: #FFF;
}
.FancyPopup-theme-blunt #FancyPopup-close:hover {
    background: #E7A600;
}
.FancyPopup-theme-blunt .FancyPopup-button {
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    background: #E7A600;
}
.FancyPopup-theme-blunt .FancyPopup-button:hover {
    background: #fff;
}


/**
 * @author Markus Ahrweiler
 * @name Ice
 * @colours #000E77, #4C60FA
 */
.FancyPopup-theme-ice #FancyPopup-inner {
    background: #FFF;
    border: 3px solid #4C60FA;
}

.FancyPopup-theme-ice #FancyPopup-close {
    transition: all 0.5s ease-in-out;
    font-weight: 100;
    line-height: 13px;
    overflow: hidden;
    transform: rotate(45deg);
    text-indent: 100px;
}

.FancyPopup-theme-ice #FancyPopup-close:after {
    content: '+';
    position: absolute;
    top: 1px;
    right: 0;
    left: 0;
    text-indent: 0px;
    bottom: 0;
}

.FancyPopup-theme-ice #FancyPopup-close:hover {
    border: 1px solid #000E77;
}

.FancyPopup-theme-ice .FancyPopup-button {
    transition: all 0.5s ease-in-out;
    background-color: #4C60FA;
    color: #FFF;
}
.FancyPopup-theme-ice .FancyPopup-button:hover {
    background-color: #000E77;
    color: #FFF;
}


/**
 * @author Markus Ahrweiler
 * @name Windows 8
 * @colours #00BCF2, #3D59AB, #4B0082
 */
.FancyPopup-theme-windows_8 #FancyPopup-title {
    color: #FFF;
}
.FancyPopup-theme-windows_8 #FancyPopup-content {
    color: #FFF;
}
.FancyPopup-theme-windows_8 #FancyPopup-inner {
    background: #00BCF2;
}

.FancyPopup-theme-windows_8 #FancyPopup-close {
    transition: all 0.5s ease-in-out;
    padding: 5px;
    background: #3D59AB;
    color: #FFF;
}

.FancyPopup-theme-windows_8 #FancyPopup-close:hover {
    background: #4B0082;
    border: 1px solid transparent;
}

.FancyPopup-theme-windows_8 .FancyPopup-button {
    box-shadow: none;
    background-color: #3D59AB;
    color: #FFF;
}
.FancyPopup-theme-windows_8 .FancyPopup-button:hover {
    background-color: #4B0082;
    color: #FFF;
}
